# Globs for anywhere
*.cache
*.pyc
*.swp
*.temp.org.xml
*.root
*~
.nfs*

# Specific filenames anywhere
__pycache__
.DS_Store
.idea
CLAUDE.local.md
cmake_install.cmake
compile_commands.json
settings.local.json
Testing

# Globs in specific places
/build*
/install*
/spack-build*

# Specific directories in the top level
/.claude/
/.claude/worktrees/
/node_modules/

# Specific files in the top level
/.clangd
/.pytest_cache
/.ruff_cache
/.vscode
/CMakeCache.txt
/CMakeFiles
/CMakeUserPresets.json
/package-lock.json
/package.json
/spack.yaml
