# NOTE: these specifications are only for the CI, not the
# actual requirements to run sphinx with correct documentation.
Sphinx >= 9.1
breathe @ git+https://github.com/breathe-doc/breathe.git@011367982d3dc36fc48993a04af758c4d887586d # v5.0.0a2 with mods
furo >= 2025.12.19
sphinxcontrib-bibtex
